
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;
       background-color: #dddddd;
       }

#image-left {
    width: 100%;
    position: relative;
    top: 70px;
    left: 100;
    background-size: cover;
}

#image-left-container {
    width: 600;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
    padding: 10px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
       #image-left {
    width: 100%;
    position: relative;
    top: 70px;
    left: 100;
}

#image-left-container {
    width: 600;
}
#form-container {
    position: relative;
    width: 600;
    height: 60%;
    transform: translate(120%, -80%);
    
}
