body {
  font-family: 'Opens Sans', sans-serif;
  background-image: url(images/17580.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

#header {
  background-color: #f53b57;
  padding: 2px;
  color: #d2dae2;
}

footer {
  background-color: #353b48;
  position: absolute;
  width: 100%;
  left: 52px;
  bottom: 20px;
}

#container {
  margin: 5px auto;
}

#main-app {
  background-color: #dddddd;
  margin: 0 auto;
  height: auto;
  
  box-shadow: 0 4px 8px 0 rgba (0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#home-content {
  width: 900px;
  position: absolute;
  height: max-content;
}



@import url(font-awesome.min.css);


#home-content li {
  margin: 11px;
}

#dashboard ul {
  list-style: none;
  overflow: hidden;
  width: 185px;
  height: 514px;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0.15px;
  background-color: #353b48;
}

#dashboard ul li a {
  text-decoration: none;
  display: block;
  color: gray;
  padding-left: 2em;
  padding-top: 20px;

}

#dashboard ul a:hover {
  background-color: aliceblue;
}


@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');





html,
body,
* {
  box-sizing: border-box;
  font-size: 16px;
}


h2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 1;
  color: #454cad;
  margin-bottom: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #5f6982;
}

// Upload Demo
// 
.uploader {
  display: block;
  clear: both;
  width: 100%;


  label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all .2s ease;
    user-select: none;

    &:hover {
      border-color: #454cad;
    }

    &.hover {
      border: 3px solid #454cad;
      box-shadow: inset 0 0 0 6px #eee;

      #start {
        i.fa {
          transform: scale(0.8);
          opacity: 0.3;
        }
      }
    }
  }

  #start {
    float: left;
    clear: both;
    width: 100%;

    &.hidden {
      display: none;
    }

    i.fa {
      font-size: 50px;
      margin-bottom: 1rem;
      transition: all .2s ease-in-out;
    }
  }

  */ #response {
    float: left;
    clear: both;
    width: 100%;

    &.hidden {
      display: none;
    }

    #messages {
      margin-bottom: .5rem;
    }
  }

  #file-image {
    display: inline;
    margin: 0 auto .5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;

    &.hidden {
      display: none;
    }
  }

  #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;

    &.hidden {
      display: none;
    }
  }

  progress,
  .progress {
    // appearance: none;
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
  }

  .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
  }

  .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, darken(#454cad, 8%) 0%, #454cad 50%);
    border-radius: 4px;
  }

  .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, darken(#454cad, 8%) 0%, #454cad 50%);
    border-radius: 4px;
  }

  */ input[type="file"] {
    display: none;
  }

  div {
    margin: 0 0 .5rem 0;
    color: #5f6982;
  }

  .btn {
    display: inline-block;
    margin: .5rem .5rem 1rem .5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: .2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
  }

  */ #file-field {
    background-color: #353b48;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
  }

  #upload-button {
    background-color: #353b48;
    color: white;
    padding: 13px 20px;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0.9;
  }