{% extends "base.html" %}
{% block title %} About DAO-OCR{% endblock %}
{% block content %}

<main id="main">
  <!-- ======= About Section ======= -->
  <div id="footer">
    <div class="copyright">.</div>
  </div>
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <h2 class="title">ABOUT DAO-OCR</h2>
          <p>
            Welcome to our Flask web app, which integrates Tesseract OCR to extract 
            text from image files. In today's digital age, we are inundated with an 
            immense amount of data in various forms, including images, PDFs, and 
            scanned documents. Extracting text data from these sources can be 
            time-consuming and error-prone if done manually. Our web app provides a 
            fast and accurate solution to this problem by utilizing OCR technology.
          </p>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">User-Friendly Interface</a></h4>
            <p class="description">
              Our web app is designed to be user-friendly, where users can upload 
              image files of various formats, such as JPG, PNG, and TIFF. 
              Once uploaded, the image file will be processed by Tesseract OCR, which 
              extracts the text from the image. The extracted text will be displayed 
              in a readable format on the web app, where users can copy the text for 
              further use.
            </p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Better Accuracy</a></h4>
            <p class="description">
              Our team has tested the web app with various image file formats to 
              ensure accuracy. We have also incorporated error-handling mechanisms to 
              handle cases where the uploaded file is not an image or when the OCR 
              fails to extract text from the image.
            </p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">Fast and Secured</a></h4>
            <p class="description">
              We understand the importance of data privacy and security, and we take 
              these issues very seriously. Our web app is designed with security in 
              mind, and all uploaded image files are processed in a secure environment. 
              We do not store any of the uploaded image files or extracted text, 
              ensuring that all user data is kept confidential.
            </p>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Facts Section ======= -->
  <section id="facts">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Facts</h3>
        <p class="section-description">
          Our web app is perfect for anyone who needs to extract text from images 
          quickly and accurately. Whether you are a student, researcher, or business 
          professional, our web app is an essential tool that can save you time and 
          effort.
          Thank you for using our web app, and we hope you find it useful!
        </p>
      </div>
      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <h2 data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></h2>
          <p>Clients</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <h2 data-purecounter-start="0" data-purecounter-end="534" data-purecounter-duration="1" class="purecounter"></h2>
          <p>Projects</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <h2 data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></h2>
          <p>Hours Of Support</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <h2  data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></h2>
          <p>Hard Workers</p>
        </div>

      </div>

    </div>
  </section><!-- End Facts Section -->
</main>
{% endblock %}