{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}

    <!-- ======= Team Section ======= -->
    <div id="footer">
        <div class="copyright">.</div>
    </div>
    <!-- ======= Contact Section ======= -->
    <section id="contact">
        <div class="container">
          <div class="section-header">
            <h3 class="section-title">Contact</h3>
            <p class="section-description">
              At Team DAO, we believe in fostering strong relationships with our clients, 
              working closely with them to understand their needs and develop solutions 
              that meet their unique requirements. We pride ourselves on our ability to 
              deliver high-quality work on time and within budget, and we are committed 
              to ensuring that our clients are satisfied with the results.
            </p>
            <p class="section-description">
              Thank you for considering Team DAO for your next project. 
              We look forward to working with you and helping you achieve your goals 
              through the power of technology.
            </p>
          </div>
        </div>
  
        <!-- Uncomment below if you wan to use dynamic maps -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d127059.92532345817!2d-0.235010999999978!3d5.6225950000000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sgh!4v1679747357517!5m2!1sen!2sgh" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
  
        <div class="container mt-5">
          <div class="row justify-content-center">
  
            <div class="col-lg-3 col-md-4">
  
              <div class="info">
                <div>
                  <i class="bi bi-geo-alt"></i>
                  <p>University of Ghana<br>Legon, Ghana</p>
                </div>
  
                <div>
                  <i class="bi bi-envelope"></i>
                  <p>jayralph360@gmail.com</p>
                </div>
  
                <div>
                  <i class="bi bi-phone"></i>
                  <p>+233 541 498 574</p>
                </div>
              </div>
  
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
  
            </div>
  
            <div class="col-lg-5 col-md-8">
              <div class="form">
                <!-- action="{{ url_for('static', filename='forms/contact.php') }}" -->
                <form action="" method="post" role="form" class="php-email-form">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                  </div>
                  <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
              </div>
            </div>
  
          </div>
  
        </div>
    </section><!-- End Contact Section -->
{% endblock %}