{% extends "base.html" %}
{% block title %} Our Services {% endblock %}
{% block content %}

    <!-- ======= Services Section ======= -->
    <div id="footer">
        <div class="copyright">.</div>
    </div>
    <section id="services">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h3 class="section-title">Services</h3>
            <p class="section-description">
              Our web app provides a comprehensive image to text conversion service using 
              Tesseract OCR. With our advanced OCR techniques, we can extract text accurately 
              from various image file formats, making the process of data extraction fast, 
              efficient, and error-free. Our user-friendly interface allows users to upload 
              their images easily, view the extracted text, and export it in different formats 
              for further processing and analysis. Our services are designed to save time and 
              effort while ensuring the accuracy of the extracted text.
            </p>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="zoom-in">
              <div class="box">
                <div class="icon"><a href=""><i class="bi bi-briefcase"></i></a></div>
                <h4 class="title"><a href="">Image to text conversion</a></h4>
                <p class="description">
                  The primary service of the project is to provide image to text 
                  conversion using Tesseract OCR. Users can upload an image file to 
                  the web app, and the app will extract the text from the image file 
                  using Tesseract OCR.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in">
              <div class="box">
                <div class="icon"><a href=""><i class="bi bi-card-checklist"></i></a></div>
                <h4 class="title"><a href="">Accurate text extraction</a></h4>
                <p class="description">
                  The project aims to provide accurate text extraction services by 
                  using advanced OCR techniques. The app has been tested with various 
                  image file formats to ensure the extracted text is error-free.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in">
              <div class="box">
                <div class="icon"><a href=""><i class="bi bi-bar-chart"></i></a></div>
                <h4 class="title"><a href="">Easy data processing</a></h4>
                <p class="description">
                  The web app will enable users to convert various data sources, 
                  including images, scanned documents, and PDFs, into a digital format 
                  that can be easily processed and analyzed.
                </p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="zoom-in">
              <div class="box">
                <div class="icon"><a href=""><i class="bi bi-binoculars"></i></a></div>
                <h4 class="title"><a href="">Time-efficient data extraction</a></h4>
                <p class="description">
                  Manually transcribing text from images can be a time-consuming 
                  process. With the OCR service provided by the web app, users can 
                  extract text from images quickly and efficiently, saving time and 
                  effort.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in">
              <div class="box">
                <div class="icon"><a href=""><i class="bi bi-brightness-high"></i></a></div>
                <h4 class="title"><a href="">User-friendly interface</a></h4>
                <p class="description">
                  The web app will have a user-friendly interface that is easy to 
                  navigate. Users can upload images and view the extracted text 
                  without any technical knowledge.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in">
              <div class="box">
                <div class="icon"><a href=""><i class="bi bi-calendar4-week"></i></a></div>
                <h4 class="title"><a href="">Text export options</a></h4>
                <p class="description">
                  The extracted text can be copied and exported in different formats 
                  such as plain text, HTML, or PDF. Users can select the desired 
                  format and export the text for further processing and analysis.
                </p>
              </div>
            </div>
          </div>
  
        </div>
    </section><!-- End Services Section -->
{% endblock %}