{% extends "base.html" %}

{% block content %}
    <!-- ======= Team Section ======= -->
    <div id="footer">
        <div class="copyright">.</div>
    </div>
    <section id="team">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h3 class="section-title">Team</h3>
            <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="pic"><img src="static/img/team-1.jpg" alt=""></div>
                <h4>Walter White</h4>
                <i>Chief Executive Officer</i>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="pic"><img src="static/img/team-2.jpg" alt=""></div>
                <h4>Sarah Jhinson</h4>
                <i>Product Manager</i>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="pic"><img src="static/img/team-3.jpg" alt=""></div>
                <h4>William Anderson</h4>
                <i>CTO</i>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="pic"><img src="static/img/team-4.jpg" alt=""></div>
                <h4>Amanda Jepson</h4>
                <i>Accountant</i>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
    </section><!-- End Team Section -->
{% endblock %}