{% extends "base.html" %}

{% block content %}
<head>
  <title>Our Team</title>
</head>
    <!-- ======= Team Section ======= -->
    <div id="footer">
        <div class="copyright">.</div>
    </div>
    <section id="team">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h3 class="section-title">Welcome to Team DAO!</h3>
            <p class="section-description">
              Team DAO is a group of passionate AI/ML Engineers and Software Engineers who are 
              dedicated to developing innovative solutions using cutting-edge technologies 
              to solve complex problems. We believe in the power of technology to create 
              positive change and are committed to using our skills and expertise to make the 
              world a better place.
            </p>
            <p class="section-description">
              With expertise in AI/ML, software engineering, data analytics, and other areas, 
              Team DAO is well-equipped to provide custom solutions that meet our clients' 
              unique needs. We pride themselves on developing strong relationships with their 
              clients and delivering high-quality work that is completed on time and within 
              budget. For anyone looking for a team that values excellence, innovation, and 
              making a difference through technology, Team DAO is an excellent choice.
            </p>
          </div>
          <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="pic"><img src="static/img/Daniel.jpg" alt=""></div>
                <h4>(D)anso Daniel</h4>
                <i>AI/Software Engineer</i>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="pic"><img src="static/img/Seth.jpg" alt=""></div>
                <h4>(A)boagye Seth</h4>
                <i>Software Engineer</i>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="pic"><img src="static/img/Ralph.jpg" alt=""></div>
                <h4>(O)kai Raphael</h4>
                <i>AI/ML Engineer</i>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section><!-- End Team Section -->
{% endblock %}